<div class="alert alert-warning  mt-1" role="alert" *ngFor="let item of items" id="listaItems">

    {{item.name}}

    <button type="button" class="btn btn-link btn-sm float-right" (click)="eliminar(item.id)">
      <p class="far fa-minus-square "></p>
    </button>

    <button type="button" class="btn btn-link btn-sm float-right" (click)="vistaActOpen(item)">
        <p class="far fa-edit "></p>
    </button>

</div>


<div id="modal">
    <button type="button" class="btn btn-link btn-lg" (click)="vistaActClose()">
      <i class="far fa-times-circle"></i>
    </button>

    <form class="col-md-6">
      <input type="text"  class="form-control" name="inputName" placeholder="Edita la antigua nota: " >
      <button class="btn btn-outline-warning mt-3" type="submit" (click)="actualizar(); vistaActClose()"> Agregar </button>
      <button class="btn btn-outline-warning mt-3 ml-2" type="submit" (click)="vistaActClose()"> Cerrar </button>
    </form>
</div>
